# **Introduction to Python üöÄ‚ú®**

> ## Fundamentals:

1. Strings
2. Numbers
3. Arithmetic Operators
4. Boolean operators
5. Variables and assignments
6. Item indexing
7. input() function

> ## Data structures:

8. Lists
9. Dictionaries
10. tuples
11. Sep

> ## Control structures:

12. Conditionals
13.Cycles

> ## Functions

> ## Libraries

## Strings
Strings are always enclosed in quotes: single ('string') or double ("string")

In [ ]:
'Hello World!'
"Hello World!"

'Hello World!'

With the asterisk symbol (#) you create a comment. Comments are essential for remembering in the future what the processed code is for and how it is contextualized in the project.

In [ ]:
# This is a comment
# these lines will not be executed

A number can be converted to a string

In [ ]:
str(3) #the str function transforms to string

'3'

Strings can be concatenated

In [ ]:
'The number ' + str(5) + ' is greater than ' + '3'

'The number 5 is greater than 3'

Encode the apostrophe with double quotes or escape

In [ ]:
'We\'re going to Mario\'s for dinner tonight'

"We're going to Mario's for dinner tonight"

In [ ]:
"We're going to Mario's for dinner tonight"

"We're going to Mario's for dinner tonight"

## Numbers

Real numbers in Python are called '**float**'

In [ ]:
3.14

3.14

The **type()** function returns the type of objects

In [ ]:
type(3)

int

In [ ]:
type(3.0)

float

In [ ]:
type(3.14)

float

It is possible to convert objects of type **int** to **float** and vice versa:

In [ ]:
int(3.0)

3

In [ ]:
float(3)

3.0

It is also possible to convert a number saved as a string to an **int** or a **float**:

In [ ]:
int("3")

3

In [ ]:
float("3")

3.0

In [ ]:
type("3")

str

## Arithmetic Operators

In [ ]:
2 + (5*8)

42

In [ ]:
# squaring
3**2

9

In [ ]:
# square root (number**0.5)
81**0.5

9.0

In [ ]:
# square root (number**(1/2))
81**(1/2)

9.0

In [ ]:
# cubic root (number**(1/3))
81**(1/3)

4.3267487109222245

## Boolean operators

A **Boolean object** can only take on the values `[TRUE, FALSE]` or `[1, 0]`, which represent the two truth values of Boolean logic and algebra.

In programming, comparison operators and Boolean values can be used, among other things, to evaluate the truthfulness of a statement. Let's see some examples where we compare numeric values:

In [ ]:
# equality
3 == 3.0

True

In [ ]:
# inequality: greater than
9 > 3

True

In [ ]:
# inequality: less than
3 < 9

True

In [ ]:
# different from
3 != 9

True

In Python a boolean operator has variable type `bool`:

In [ ]:
type(True)

bool

In elementary algebra, we use integer or real numbers and the classic operations of addition, subtraction, etc. In **boolean algebra**, however, we use boolean values and the operations `AND`, `OR` and `NOT`.

The three Boolean operators are AND, OR, and NOT.

AND narrows your search results by limiting your results to those that contain
both words connected with AND.

OR expands your search results by including results that contain one word, the other word, or both words.

NOT narrows your search results by limiting your results to those that contain the word you designate before NOT, but not the word after NOT.

One way to visualize Boolean Operators is to use a Venn diagram. See below or watch the video to the right.

<img src = https://s3.amazonaws.com/libapps/accounts/74272/images/PB_and_J_Boolean_Operator_Venn_Diagram.png width = "800" >

In [ ]:
# AND
print('5 > 0 and 5 < 10:', 5 > 0 and 5 < 10) # True
print('5 > 0 and 15 < 10:', 5 > 0 and 15 < 10) # False: 15 is greater than 10

5 > 0 and 5 < 10: True
5 > 0 and 15 < 10: False

In [ ]:
#OR
print('5 > 0 or 5 < 10:', 5 > 0 or 5 < 10) # True
print('5 > 0 or 15 < 10:', 5 > 0 or 15 < 10) # True

5 > 0 or 5 < 10: True
5 > 0 or 15 < 10: True

In [ ]:
#NOT
print('not True:', not True) # False
print('False is not True:', False is not True) # True
print('not 5 < 0:', not 5 < 0) # True

not True: False
False is not True: True
not 5 < 0: True

In [ ]:
type(5) == int

True

## Variables and assignments

You can create a new variable, which we will call `x`, and assign it any value, say 100:

In [ ]:
x = 100
x

100

To see the contents of the variable x, we can use the `print()` function:

In [ ]:
print(x)

100

The advantage of defining a variable: in an operation the result can be saved in a variable that can be easily reused in the iterative process.

We can also assign a new value to the variable `x` itself; in this case we will overwrite the old value 100 with the new value 10:

In [ ]:
x = 10
print(x)

10

The variable we have created can be used in various ways, for example within a concatenation of strings or, if numeric, to perform arithmetic operations:

In [ ]:
print('x is a variable of type', type(x), 'and its value is', x)

x is a variable of type <class 'int'> and its value is 10

In [ ]:
print(x + 5) # addition
print(x - 50) # subtraction
print(x*2) # multiplication
print(x/2) # division
print(x**x) # power

15
-40
20
5.0
10000000000

Python allows you to assign multiple values to multiple variables on the same line using the following notation:

In [ ]:
a, b, c = 11, 22, 33

In [ ]:
print(a)
print(b)
print(c)

11
22
33

In [ ]:
print(a + b + c) # addition
print(a, b, c) # concatenation

66
11 22 33

In [ ]:
d = e = f = 'Hello'

In [ ]:
print(d)
print(e)
print(f)

Hello
Hello
Hello

In [ ]:
print(d + e + f)
print(d, e, f)

HelloHelloHello
Hello Hello Hello

The **modulo (%)** operator is used to obtain the remainder of a division.

For example, dividing 10/2 results in 5 with a remainder of 0, so:

In [ ]:
10 % 2

0

Conversely, dividing 10/3 results in 3 with a remainder of 1, thus:

In [ ]:
10 % 3

1

Of course, you can use the modulus operator with a numeric **variable**:

In [ ]:
x = 10
print(x, 'divided three is ', int(x/3), 'with the rest of', x % 3)

10 divided three is 3 with the rest of 1

## Item indexing

Apply element indexing to data structures: Lists, Dictionaries, Strings. is used a lot in **DataFrame**.

Unlike other programming languages, indexing in Python starts at 0 (not 1), which means that if we want to extract the first letter from the string "Boolean", we need to access the element with index 0.

To extract an element from an object (such as a string), we can use the `[]` operator.

![python-str-index.webp]()

In [ ]:
"Index"[0] # find out 1st letter

'I'

In [ ]:
"Index"[3] # find out 4th letter

'e'

In [ ]:
"Index"[1:3] # find out 1st letter until 3rd
# The range DOES NOT consider
# the element corresponding to the last index:
# the element 'l' = index 3 is NOT considered

'nd'

‚òù from the example above, we note that the first index (1) is **included**, while the second index (3) is excluded!

In [ ]:
"Index"[2:6] # find out 2nd letter until 6th

'dex'

In [ ]:
"Index"[1:] # find out from 3rd untile to the end

'ndex'

In [ ]:
"Index"[:1]

'I'

You can use a **negative index** to extract items from the end:

In [ ]:
"Boolean"[:-1]

'Boolea'

In [ ]:
"Boolean"[:-3]

'Bool'

## input() function

The `input()` function allows you to interact directly with the user through a prompt, allowing him to enter a certain value (numeric or string) which can then be used by our program. For example:

In [ ]:
input()

'Hello'

"'Hello'"

We can also decide to save the input that has been entered in a new variable:

In [ ]:
nome = input("What is your name? ")
print(f"Your name is {nome}")

What is your name? Fra
Your name is Fra

> ‚òùÔ∏è You may have noticed that in the last `print()` function there is:
- an `f` before the string to be printed on the screen
- and the object `name` is enclosed in braces `{}`

> ü§ì This way of formatting strings is known as **f-strings** and is a fast, convenient and readable method of formatting strings that was introduced with Python 3.

> ‚ú® Check out [this article](https://realpython.com/python-f-strings/) to learn more about f-strings and compare it to other string formatting methods.

# Data structures

Data structures are among the building blocks of Python and indicate a specific way of organizing data so that it can be used as efficiently as possible.

Python offers four types of data structures (also known as arrays):
- **Lists**: sorted, editable, admit duplicates
- **Dictionaries**: sorted, editable, no duplicates allowed.
- **Tuples**: ordered, immutable, admit duplicates
- **Set**: unsorted, uneditable, unindexed, no duplicates allowed.

When we talk about arrays, we mean fixed-size data records that allow you to efficiently locate each element based on its index:

![](https://drive.google.com/uc?export=view&id=1rdUtcNX16xxkb7byZRdrMx60AcSiJoim)

Imagine an array as a series of boxes placed next to each other, which:

* they can contain objects of the same type (eg: all strings) or even different ones (eg: strings and integers);
* can be reordered;
* two or more boxes may contain the exact same item (duplicate);
* it is possible to extract, replace or leave the element of each box.

Let's take a closer look at the four main types of data structures.

## Lists

Lists in Python are used to store elements of different types in a single array that:
- be tidy
- is modifiable
- allow duplicate values

Imagine a **series of boxes** in a row, where *each can contain anything*, numeric values (integer or real), strings, booleans, etc

You can **create a new list** using square brackets `[]`:

In [ ]:
integers = [1, 2, 3, 4, 5]
print(integers)

[1, 2, 3, 4, 5]

In [ ]:
reals = [0.1, 0.2, 0.3, 0.4, 0.5]
print(reals)

[0.1, 0.2, 0.3, 0.4, 0.5]

In [ ]:
strings = ["Orange", "Lemon", "Peach"]
print(strings)

['Orange', 'Lemon', 'Peach']

In [ ]:
mix = [1, 0.2, "orange", 3, True, 3 < 5, "5 Lemons, 10 Peaches"]
print(mix)

[1, 0.2, 'orange', 3, True, True, '5 Lemons, 10 Peaches']

Lists in Python are indexed, which means that each element inside them is associated with a progressive number: the first element has index 0, the second has index 1 and so on up to the last element of the list. It is possible to find out the length of the list using the `len()` function.

In [ ]:
strings[0]

'Orange'

In [ ]:
len(strings) # know the length
# the 'strings' List object has 3 elements:
# therefore it has length = 3

3

‚ùó Remember, **in Python, indices always start at 0**, so the third element of a list will have index 2:

In [ ]:
# this line will generate an error
strings[3]

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
 in ()
      1 # this line will generate an error
----> 2 strings[3]

IndexError: list index out of range

In [ ]:
strings[2]

'Peach'

The elements of a list can be extracted using the relative index between `[]` as just seen; **the elements of a list can also be changed** by overwriting that element with a new value:

In [ ]:
strings[2] = "Watermelon"
print(strings)

['Orange', 'Lemon', 'Watermelon']

The order of the elements of the list has not changed and in fact, as seen above, the lists are ordered; nevertheless, there are some [methods](https://www.w3schools.com/python/python_lists_methods.asp) that can be exploited to change the internal order of a list, such as `sort()` and `reverse ()`.

In [ ]:
strings.sort()
print(strings)

['Lemon', 'Orange', 'Watermelon']

In [ ]:
strings.reverse()
print(strings)

## Dictionaries

In Python, dictionaries are used to put `key:value` pairs into them which are:
- you order
- editable
- do not allow the presence of duplicates

A nice analogy is the good old **address book**, where the `Key` is the person's name and the `value` is their address.

You can **create a new dictionary** using curly braces `{}`:

In [117]:
# this dictionary uses integers as keys
numbers = {
     1:"one",
     2:"two",
     3:"three"
}
print(numbers)
type(numbers)

{1: 'one', 2: 'two', 3: 'three'}

dict

To access a specific *value* of the dictionary, just index it, referring to the corresponding *key*, using the `[]` operator:

In [118]:
numbers[2]

'two'

In [120]:
# this dictionary uses strings as keys
shopList = {
     "Lemon":"3",
     "Peach":"1 kg",
     "Tomatoes":"2 kg"
}
print(shopList)

{'Lemon': '3', 'Peach': '1 kg', 'Tomatoes': '2 kg'}

In [123]:
shopList["Tomatoes"]

'2 kg'

## Tuple

Tuples in Python are used to store elements of different types in a single array that:
- be tidy
- is non-editable
- allow duplicate values

They are very **similar to lists**, except that they **are immutable**. This means that the elements within it **cannot** be added or removed easily: all the elements of a tuple must be defined when creating the tuple itself.

You can **create a new tuple** using round brackets `()`

In [126]:
tupla = (10, 20, "Bristol", "Coimbra", "Heidelberg", 60, 70)
print(tupla)

(10, 20, 'Bristol', 'Coimbra', 'Heidelberg', 60, 70)

We can check the object type and length of a tuple with the usual functions:

In [125]:
print(type(tupla))
print(len(tupla))

<class 'tuple'>
7

Tuples are also indexed, so its elements can be accessed using the usual `[]` operator:

In [127]:
tupla[3]

'Coimbra'

But, unlike lists, tuples are immutable, so its elements cannot be overridden:

In [ ]:
# this line will generate an error
tuple[3] = "Cadiz"

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
 in ()
      1 # this line will generate an error
----> 2 tupla[3] = "Cadiz"

TypeError: 'tuple' object does not support item assignment

## Set

Sets in Python are used to store elements of different types in a single array that:
- it is not ordered
- cannot be edited
- is not indexed
- does not allow duplicate values

It can be helpful to think of sets as sets of unique (not duplicate) elements. A common use of sets is to **check if a value already exists in a set of values** or even to merge or intersect two sets of values with each other; you can insert or remove one or more elements from a set.

It is possible to **create a new set** using the curly braces `{}` but, to create an empty set it is necessary to use the `set()` function since, using the empty curly braces `{}` we would create a empty dictionary:

In [128]:
shop = {"Honey", "Yogurt", "Bread", "Tomatoes", "Lemons", "Cereals"}
print(shop)

{'Lemons', 'Honey', 'Bread', 'Tomatoes', 'Cereals', 'Yogurt'}

Sets are **NOT** indexed and are immutable, so we cannot access its elements or change them using the usual `[]` operator:

In [ ]:
# this line will generate an error
shop[0]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
 in ()
      1 # this line will generate an error
----> 2 shop[0]

TypeError: 'set' object is not subscriptable

In [ ]:
# this line will generate an error
shop[0] = "Butter"

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
 in ()
      1 # this line will generate an error
----> 2 shop[0] = "Butter"

TypeError: 'set' object does not support item assignment

We can check the object type and length of a set with the usual functions:

In [129]:
print(type(shop))
print(len(shop))

<class 'set'>
6

Sets cannot be modified, but items can be added or removed using the appropriate [methods](https://www.w3schools.com/python/python_sets_methods.asp) such as `add()` and `remove()` :

In [130]:
shop.add("Onion")
print(shop)

{'Lemons', 'Honey', 'Bread', 'Tomatoes', 'Cereals', 'Onion', 'Yogurt'}

In [131]:
shop.remove("Onion")
print(shop)

{'Lemons', 'Honey', 'Bread', 'Tomatoes', 'Cereals', 'Yogurt'}

Let's recap what we've seen so far:

![](https://drive.google.com/uc?export=view&id=1hBHGdKsNHFybyLtCR3VznujRJjohrnH9)

# Control structures:

Control structures are an essential tool to have in your portfolio. They allow the programmer to interact with program objects and variables and channel the flow of operations down one path rather than another based on pre-established conditions.

The basic control structures are:
- **sequential**: this is the default situation we have already encountered, a series of lines of code that follow one another in a program;
- **conditional**: they represent *selection* criteria, they are used to execute one or more lines of code **if** a certain condition is satisfied;
- **cyclic**: add an *iterative* element, the purpose of which is to repeat a certain sequence of actions **for (for)** a certain number of times or **as long as (while)** once certain condition is satisfied.

<img src="https://drive.google.com/uc?export=view&id=1HFIxzouzbDuD_0vq1lqaJIbXLiWLQT-J" width="700">

## Conditionals

Conditional structures allow you to control the flow of code based on **boolean conditions** (true - false) that are specified by the programmer.

To initialize a conditional structure we will use the `if` expression; below we see an example in [pseudocode](https://it.wikipedia.org/wiki/Pseudocode):

```
if <boolean condition>:
     <line(s) of code>
```

Let's see a real example using Python syntax:

In [132]:
# beware of indentation!
if 10 > 1:
     print("Correct!")

Correct!

Things to remember about the **if component**:

- always starts with the word `if`
- the word `if` is always followed by the boolean expression to be evaluated
- always put `:` at the end of the boolean expression
- the code that must be executed in case the boolean expression is true (the body of the `if` structure) must be **indented**

Let's see another example where we first define a variable `a` and then we compare it with another value and, if a certain condition is satisfied, we print an answer on the screen:

In [133]:
a = 10
if a < 20:
     print("a is less than 20")

a is less than 20

And if `a` is greater than 20, what happens?

In [135]:
a = 30
if a < 20:
    print("a is less than 20")

In this case, nothing happens because we didn't specify an **alternative (else)** path. The `else` expression allows you to tell the program what to do if the boolean condition is not satisfied (that is, if it is false):

In [136]:
if a < 20:
    print("a is less than 20")
else:
    print("a is greater than 20")

a is greater than 20

üê∏ Things to remember about the **else component**

- the word `else` must be at the same level (indent) as the word `if`
- after the word `else` there is no need to specify any boolean conditions
- the `:` must always follow the word `else`
- the code to execute in case the boolean expression is not respected must be **indented**

It is also possible to specify more than one alternative; for example, we could specify different outputs depending on whether `a` is:

- less than 10
- between 10 and 19 (included)
- between 20 and 29 (included)
- greater than or equal to 30

To do this, we introduce the `elif` expression, which allows us to specify multiple conditions:

In [137]:
a = 15
if a < 10:
    print("a is less then 10")
elif 10 <= a <= 19:
    print("a is between 10 and 19 (included)")
elif 20 <= a <= 29:
    print("a is between 20 and 29 (included)")
else:
    print("a is greater than or equal then 30")

a is between 10 and 19 (included)

üê∏ Things to remember about the **elif component**:
- the word `elif` must be at the same indentation level as the word `if`
- the word `elif` is always followed by the boolean expression to be evaluated
- always put `:` at the end of the boolean expression
- the code that must be executed in case the boolean expression is true must be **indented**

With these three new tools, `if`, `elif` and `else` we can build conditional flows of great complexity on the basis of logic predetermined by the programmer.

> ü§ì Check out [this article](https://realpython.com/python-conditional-statements/) to learn more about conditional structures.

## Loops

Loops, very common structures in all programming languages, allow you to repeat a sequence of lines of code **for (for)** a certain number of times or **as long as (while)** a certain condition is satisfied .

As will be clear from the previous lines, there are two main categories of iterative structures: for loops and while loops.

**for loop**

The `for` loop is used to iterate over a sequence of items (such as a list, dictionary, string or even a range of numbers) where the number of iterations done (and remaining to be done) is controlled by a counter ( or index); contextually, a piece of code is executed at each iteration.

To initialize a for loop we will use the `for` expression; Below we see an example in pseudocode:

```
for <count> in <sequence>:
     <line(s) of code>
```

Let's see an example in Python:

In [138]:
# beware of indentation!
for letter in "word":
     print(letter)

w
o
r
d

üê∏ Things to remember about the **for loop**:

- always starts with the `for` expression
- a counter must always be specified (in this case it was called `letter`, but it can be assigned any other name)
- it is necessary to have a sequence on which to iterate the counter (in this example the sequence is a string, therefore a sequence of letters, but lists, tuples, and sets are also excellent candidates)
- counter and sequence are always followed by a `:`
- the line or lines of code that must be executed in each iteration must be **indented**

Behind the scenes the `letter` counter iterates over the elements of the string "word" (ie each letter) and each time it encounters a new element it executes the code (ie prints the letter to the screen).

As mentioned above, the `counter` is just an alias, so we can call it whatever we want, it can be any word or it can even consist of just one letter:

In [139]:
for s in "string":
    print(s)

s
t
r
i
n
g

In molti contesti √® necessario ripetere un'operazione per un certo numero di volte; in questi casi √® opportuno usare la funzione `range()`:

In [140]:
for i in range(1, 4):
    print("Beetlejuice!")

Beetlejuice!
Beetlejuice!
Beetlejuice!

The `range()` function takes three parameters as input:

```
range(start, stop, step)
```

Where:
- `start` is the start (inclusive) of the numeric range (optional parameter, default = 0)
- `stop` is the end (not inclusive) of the numeric range
- `step` indicates the step size (optional, default = 1).

As mentioned above, the `stop` end point is not included in the sequence:

In [141]:
for num in range(6):
    print(num)

0
1
2
3
4
5

As already announced, any iterable object can be included as an `iterator` in a for loop. Let's see an example with a list:

In [142]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [144]:
for el in list:
    print(el, el**2)

1 1
2 4
3 9
4 16
5 25

**Ciclo While**

A while loop allows you to execute one or more lines of code as long as a certain boolean condition is true; usually a counter is used which, at the end of each iteration, is increased (or decreased) on the basis of a certain logic decided by the programmer. Once the boolean condition stops being tested, the program exits the loop and stops.

To initialize a while loop we will use the expression `while`; Below we see an example in pseudocode:

```
while <boolean condition>:
     <line(s) of code>
```

Let's see an example with Python syntax:

In [145]:
a = 1
while a < 6:
    print(a)
    a = a + 1

1
2
3
4
5

It is also possible to specify an `else` condition, in case we want the program to do something (like print a message) as soon as the boolean condition stops being matched:

In [146]:
a = 1
while a < 6:
    print(a)
    a = a + 1
else:
    print('stop:', a, "in NOT less then 6")

1
2
3
4
5
stop: 6 in NOT less then 6

> ‚ùó**Warning**: if the boolean condition is always verified (eg: if we had written: a > 0 in the previous example), the program will never exit the loop and will go on forever (or until the program will not be forced to shut down).

In the body of both `for` and `while` loops, it is possible to insert conditional structures (and vice versa); There are several reasons why you might want to do this:
- to **stop the loop** preemptively, you can combine an `if` with a `break`
- to **skip the current iteration**, you can combine an `if` with a `continue`

In [147]:
# break
a = 1
while a < 6:
     print(a)
     a = a + 1
     if a == 3:
         break

1
2

In [148]:
# continue
a = 0
while a < 6:
    a = a + 1
    if a == 3:
        continue
    print(a)

1
2
4
5
6

> ü§ì Check out these two articles to learn more about [for loops](https://realpython.com/python-for-loop/) and [while loops](https://realpython.com/python-while-loop/)