# **Introduction to Python ðŸš€âœ¨**

> ## Python:

1. Strings
2.Numbers
3. Arithmetic Operators
4. Boolean operators
5. Variables and assignments
6. Item indexing
7. input() function

> ## Data structures:

8. Lists
9. Dictionaries
10. tuples
11. Sep

> ## Control structures:

12. Conditionals
13.Cycles

> ## Functions

> ## Libraries

## Strings
Strings are always enclosed in quotes: single ('string') or double ("string")

In [2]:
'Hello World!'
"Hello World!"

'Hello World!'

With the asterisk symbol (#) you create a comment. Comments are essential for remembering in the future what the processed code is for and how it is contextualized in the project.

In [3]:
# This is a comment
# these lines will not be executed

A number can be converted to a string

In [5]:
str(3) #the str function transforms to string

'3'

Strings can be concatenated

In [9]:
'The number ' + str(5) + ' is greater than ' + '3'

'The number 5 is greater than 3'

Encode the apostrophe with double quotes or escape

In [13]:
'We\'re going to Mario\'s for dinner tonight'

"We're going to Mario's for dinner tonight"

In [14]:
"We're going to Mario's for dinner tonight"

"We're going to Mario's for dinner tonight"

## Numbers

Real numbers in Python are called '**float**'

In [16]:
3.14

3.14

The **type()** function returns the type of objects

In [17]:
type(3)

int

In [18]:
type(3.0)

float

In [19]:
type(3.14)

float

It is possible to convert objects of type **int** to **float** and vice versa:

In [20]:
int(3.0)

3

In [21]:
float(3)

3.0

It is also possible to convert a number saved as a string to an **int** or a **float**:

In [24]:
int("3")

3

In [25]:
float("3")

3.0

In [26]:
type("3")

str

## Arithmetic Operators

In [27]:
2 + (5*8)

42

In [28]:
# squaring
3**2

9

In [29]:
# square root (number**0.5)
81**0.5

9.0

In [31]:
# square root (number**(1/2))
81**(1/2)

9.0

In [32]:
# cubic root (number**(1/3))
81**(1/3)

4.3267487109222245

## Boolean operators

A **Boolean object** can only take on the values `[TRUE, FALSE]` or `[1, 0]`, which represent the two truth values of Boolean logic and algebra.

In programming, comparison operators and Boolean values can be used, among other things, to evaluate the truthfulness of a statement. Let's see some examples where we compare numeric values:

In [33]:
# equality
3 == 3.0

True

In [36]:
# inequality: greater than
9 > 3

True

In [37]:
# inequality: less than
3 < 9

True

In [38]:
# different from
3 != 9

True

In Python a boolean operator has variable type `bool`:

In [39]:
type(True)

bool

In elementary algebra, we use integer or real numbers and the classic operations of addition, subtraction, etc. In **boolean algebra**, however, we use boolean values and the operations `AND`, `OR` and `NOT`.

The three Boolean operators are AND, OR, and NOT.

AND narrows your search results by limiting your results to those that contain
both words connected with AND.

OR expands your search results by including results that contain one word, the other word, or both words.

NOT narrows your search results by limiting your results to those that contain the word you designate before NOT, but not the word after NOT.

One way to visualize Boolean Operators is to use a Venn diagram. See below or watch the video to the right.

<img src = https://s3.amazonaws.com/libapps/accounts/74272/images/PB_and_J_Boolean_Operator_Venn_Diagram.png width = "800" >

In [40]:
# AND
print('5 > 0 and 5 < 10:', 5 > 0 and 5 < 10) # True
print('5 > 0 and 15 < 10:', 5 > 0 and 15 < 10) # False: 15 is greater than 10

5 > 0 and 5 < 10: True
5 > 0 and 15 < 10: False

In [41]:
#OR
print('5 > 0 or 5 < 10:', 5 > 0 or 5 < 10) # True
print('5 > 0 or 15 < 10:', 5 > 0 or 15 < 10) # True

5 > 0 or 5 < 10: True
5 > 0 or 15 < 10: True

In [42]:
#NOT
print('not True:', not True) # False
print('False is not True:', False is not True) # True
print('not 5 < 0:', not 5 < 0) # True

not True: False
False is not True: True
not 5 < 0: True